/* font */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.popins-sans-font{
 font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


body{
max-width: 1140px;
margin: 0 auto;
}

/* shared style */
.primary-color1{
  color: #3A3A3A;
}




/* navbar style */

.navbar-heading {
  font-weight: bold;
  font-size: 1.5rem;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
ul{
  display: flex;
  gap: 40px;
}
ul li{
  list-style: none;
}
ul a{
  text-decoration: none;
  color:#3A3A3A;
}
/* banner1 section */
.banner1{
  display: flex;
  justify-content: space-between;
}
.banner1-heading{
  font-weight: bold;
  font-size: 3.25rem;
  margin-bottom: 0;
}
.banner1-description{
  font-weight: 500;
}
.banner1-btn{
  background-color: #E02C6D;
  width: 200px;
  height: 50px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 40px;
 border: none;
}
.banner1-right{
  background-image: url('../images/Circle\ design.svg');
}
/* logo section */
.logo{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 100px 0px;
  
}

/* popular section */
.collection-heading{
  text-align: center;
}
