/* font */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.popins-sans-font{
 font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


body{
max-width: 1140px;
margin: 0 auto;
}

/* shared style */
.primary-color1{
  color: #3A3A3A;
}




/* navbar style */

.navbar-heading {
  font-weight: bold;
  font-size: 1.5rem;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
ul{
  display: flex;
  gap: 40px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color:#3A3A3A;
  font-weight: 600;
}
/* banner1 section */
.banner1{
  display: flex;
  justify-content: space-between;
}
.banner1-heading{
  font-weight: bold;
  font-size: 3.25rem;
  margin-bottom: 0;
}
.banner1-description{
  font-weight: 500;
}
.banner1-btn{
  background-color: #E02C6D;
  width: 200px;
  height: 50px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 40px;
 border: none;
}
.banner1-right{
  background-image: url('../images/Circle\ design.svg');
}
/* logo section */
.logo{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 100px 0px;
  
}

/* popular section */
.collection-heading{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.75rem;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.card{

  width: 300px;
  height: 440px;
  /* border: 2px solid tan; */
  padding: 20px;
  box-shadow: 5px 5px 10px 10px rgb(245, 243, 243);
}
.card-title{
  color: rgba(24, 25, 31, 1);
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0px;
}
.price{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.star{
  color:rgba(251, 130, 0, 1);
  margin-bottom: 0;
}
.ratting{
  color: rgba(94, 99, 102, 1);
  font-weight: bold;
  font-size: 0.88rem;
}
.card-description{
  color: rgba(120, 120, 133, 1);
  font-weight: bold;
  font-size: 0.88rem;
  margin-top: 0;
}
.see-more{
  text-align: end;
  color: #E02C6D;
  font-weight: bold;
  margin-top: 50px;
  padding-right: 40px;
  margin-bottom: 100px;
}

/* banner2 */
.banner2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.banner2-title{
  color: #0A0826;
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 0;
}
.banner2-description{
  color: #6C6C6C;
  font-weight: bold;
}
.banner2-btn{
  width: 160px;
  height: 45px;
  background-color: #E02C6D;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 800;
}

/* footer section */
#footer-section
{
 max-width:1644px;
  height: 250px;
  background-color: #0A0826;
  text-align: center;
  color: aliceblue;
  padding-top: 30px;
  margin-bottom: 100px;

}
.footer-title{
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-icon{
  display: flex;
  justify-content: center;
 gap: 30px;
 padding-top: 10px;
}




/* responsive fo small device */

@media screen and (max-width:576px) {
  nav,ul{
    flex-direction: column;
    text-align: center;

  }
  .banner1,.banner2{
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }
  .logo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:8px;
    padding-left: 100px;
  }
  .card-container{
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    align-items: center;
  }

}